<table class="table">
  <% if friends.empty? %>
    <tr>
      <td>Никого не найдено</td>
    </tr>
  <% else %>
    <% friends.each do |friend| %>
      <tr>
        <td>
          <%= link_to image_tag(friend.photo), vk_url(friend), target: '_blank' %>
        </td>
        
        <td class="wide">
          <i class="icon-user"></i>
          <%= link_to "#{friend.first_name} #{friend.last_name}", vk_url(friend), target: '_blank' %><br />
          
          <%= online_status(friend) %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
