<div class="content">
  <div class="row">
    <div class="span12">
      <h2>ВКонтакте API + ruby</h2>
      
      <p>
        Это приложение демонстрирует работу с ВКонтакте API на языке программирования ruby с использованием библиотеки <code>vkontakte_api</code> и фреймворка Ruby on Rails.
      </p>
      
      <p>
        Исходный код приложения находится <a href="https://github.com/7even/vkontakte_on_rails" target="_blank">здесь</a>.
      </p>
      
      <%= link_to @vk_url, class: 'btn btn-primary' do %>
        <i class="icon-home icon-white"></i>
        Войти через ВКонтакте
      <% end %>
    </div>
  </div>
</div>
